

#vermais {
    -fx-font-size: 12;
    -fx-background-color: #708198;
}

#vermais:hover {
    -fx-background-color: #7888a4;
}

#vermais:pressed {
    -fx-background-color: #3d4354;
}

#cardpane {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0.3, 1, 2);
}
