
#title {
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 0.5, 0, 0, 4);
}
#content{
    -fx-background-color: #2B4C7E;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 1, 1, 2, 0);
}

.inputField {
    -fx-background-radius: 10, 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 1, 0, 0, 4);
}

.inputField:focused{
    -fx-pref-height: 38px;
    -fx-pref-width: 238px;
}

.botao {
    -fx-background-radius: 5, 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 2);
    -fx-background-color: #606D80;
    -fx-pref-height: 40px;
    -fx-pref-width: 80px;
}


.botao:hover {
    -fx-background-color: #8191a9;
}
.botao:pressed {
    -fx-background-color: #414956;

}

#criarConta {
    -fx-pref-height: 35px;
    -fx-pref-width: 90px;
}


#backgroundLogin{
    -fx-background-image: url('../images/games/1-1.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}







