#divheader {
    -fx-background-color: #D9D9D9;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 2);
}

#divcontent {
    -fx-background-color: #2b4c7e;
}

#divcontent2 {
    -fx-background-color: #2b4c7e;
}

#resumo {
    -fx-background-color: #D9D9D9;
}

#cardcarrinho {
    -fx-background-color: #D9D9D9;
}

#imagemjogo {
    -fx-background-color: #5e5e5e;
}


#scrollPane {
    -fx-background-color: #2b4c7e;
}

#resumo {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 2);
    -fx-background-radius: 5,5;
}

#comprar {
    -fx-text-fill: White;
    -fx-background-radius: 5,5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 2);
    -fx-background-color: #2b4c7e;
}

#comprar:hover {
     -fx-background-color: #7abde1;
}

#comprar:pressed {
    -fx-background-color: #5f8cce;
}

#removerjogocarrinho {
    -fx-text-fill: White;
    -fx-background-radius: 5,5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 2);
    -fx-background-color: #2b4c7e;
}

#removerjogocarrinho:hover{
    -fx-background-color: #7abde1;
}

#removerjogocarrinho:pressed{
    -fx-background-color: #5f8cce;
}